version: '3.8'

services:
  spark-notebook:
    image: jupyter/pyspark-notebook:latest
    container_name: spark-notebook
    ports:
      - "8888:8888"  
      - "4040:4040"  
    volumes:
      - ./notebooks:/home/jovyan/work
      - ./data:/home/jovyan/data
    environment:
      - SPARK_LOCAL_IP=0.0.0.0
      - PYSPARK_PYTHON=python
      - JUPYTER_ENABLE_LAB=yes
      - SNOWFLAKE_ACCOUNT=${SNOWFLAKE_ACCOUNT}
      - SNOWFLAKE_USER=${SNOWFLAKE_USER}
      - SNOWFLAKE_PASSWORD=${SNOWFLAKE_PASSWORD}
      - SNOWFLAKE_WAREHOUSE=${SNOWFLAKE_WAREHOUSE}
      - SNOWFLAKE_DATABASE=${SNOWFLAKE_DATABASE}
      - SNOWFLAKE_ROLE=${SNOWFLAKE_ROLE}
      - SNOWFLAKE_SCHEMA_RAW=${SNOWFLAKE_SCHEMA_RAW:-raw}
      - SNOWFLAKE_SCHEMA_ANALYTICS=${SNOWFLAKE_SCHEMA_ANALYTICS:-analytics}
      - START_YEAR=${START_YEAR:-2015}
      - END_YEAR=${END_YEAR:-2025}
      - SERVICES=${SERVICES:-yellow,green}
      - BASE_URL=${BASE_URL:-https://d37ci6vzurychx.cloudfront.net/trip-data}
    user: root
    command: >
      bash -c "
      pip install snowflake-connector-python snowflake-sqlalchemy requests pyarrow &&
      start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''
      "